<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All cities</h2>
    <% for(let city of allcities) { %>
        <li>
            <%= console.log(city._id) %> 
            <a href="/cities/<%= city._id %>"> <%= city.city_name %> </a>
        </li>
    <% } %>
    
</body>
</html> -->